@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full;
  }

  .content-container {
    @apply relative;
  }
}

@layer components {
  .nav {
    @apply h-16 w-full bg-[#121212] px-2 drop-shadow;
  }

  .nav-wrapper {
    @apply m-auto h-full max-w-7xl;
  }

  .nav-content {
    @apply flex h-full items-center justify-center;
  }

  .nav-buttons {
    @apply flex flex-row;
  }

  .search-input {
    @apply mx-5 min-h-11 w-full max-w-xl appearance-none rounded border-none bg-white py-1.5 pl-2 outline-none;
  }

  .omdb-wrapper {
    @apply absolute left-0 right-3.5 top-[-6px] m-auto w-full max-w-xl rounded bg-[#1F1F1F] text-white opacity-0 drop-shadow transition-opacity duration-300;
  }

  .omdb-list {
    @apply flex flex-col divide-y divide-slate-200;
  }

  .omdb-item {
    @apply flex flex-row items-center justify-between;
  }

  .omdb-info {
    @apply flex flex-row items-center;
  }

  .omdb-button {
    @apply max-h-20 p-2 hover:bg-[#313131];
  }

  .modal {
    @apply pointer-events-none fixed inset-0 z-10 bg-black bg-opacity-50 opacity-0 transition-opacity duration-300;
  }

  .modal-content-wrapper {
    @apply flex h-full items-center;
  }

  .modal-content {
    @apply relative mx-auto max-w-xl rounded bg-white p-4 drop-shadow;
  }

  .show {
    @apply pointer-events-auto opacity-100;
  }

  .hide {
    @apply pointer-events-none opacity-0;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  @apply aspect-[1] w-4 rounded-full;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow:
      1.25rem 0 #ffffff,
      -1.25rem 0 #ffffff33;
    background: #ffffff;
  }
  33% {
    box-shadow:
      1.25rem 0 #ffffff,
      -1.25rem 0 #ffffff33;
    background: #ffffff33;
  }
  66% {
    box-shadow:
      1.25rem 0 #ffffff33,
      -1.25rem 0 #ffffff;
    background: #ffffff33;
  }
  100% {
    box-shadow:
      1.25rem 0 #ffffff33,
      -1.25rem 0 #ffffff;
    background: #ffffff;
  }
}
