@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full;
  }

  .content-container {
    @apply max-w-7xl m-auto relative;
  }
}

@layer components {
  .nav {
    @apply bg-zinc-900 drop-shadow w-full h-14 px-2;
  }

  .nav-wrapper {
    @apply max-w-7xl m-auto h-full;
  }

  .nav-content {
    @apply flex items-center h-full;
  }

  .nav-buttons {
    @apply flex flex-row;
  }

  .search-input {
    @apply bg-white min-h-9	w-full outline-none border-none appearance-none pl-2 py-1.5	rounded mx-4;
  }

  .omdb-wrapper {
    @apply bg-white drop-shadow absolute w-2/5 m-auto left-0 right-0;
  }

  .omdb-list {
    @apply flex flex-col p-4;
  }

  .omdb-item {
    @apply flex flex-row justify-between items-center;
  }

  .omdb-info {
    @apply flex flex-row items-center;
  }

  .omdb-button {
    @apply mb-3;
  }

  .modal {
    @apply hidden fixed inset-0 overflow-auto opacity-0 z-10 bg-black bg-opacity-50 transition-opacity duration-300;
  }

  .show {
    @apply block opacity-100;
  }

  .modalContent {
    @apply bg-white p-5 w-4/5 max-w-xl mx-auto mt-24 rounded-lg shadow-lg relative;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow:
      20px 0 #000,
      -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow:
      20px 0 #000,
      -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow:
      20px 0 #0002,
      -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow:
      20px 0 #0002,
      -20px 0 #000;
    background: #000;
  }
}
